body {
	margin: 0px;
	background-color: #FFF;
}

.backend {
	background-color: Tomato;
}

.frontend {
	background-color: PowderBlue;
}

header {
	width: 1000px;
	height: 100px;
	margin: auto;
	margin-bottom: 20px;
}

.logo{
	width: 100px;
	height: 90px;
	display: inline-block;
	margin: 5px 20px 5px 20px;
}

.menu_item{
	width: 200px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
}

#content {
	width: 1000px;
	margin: auto;
}

#top {
	width: 780px;
	height: 380px;
	margin-top: 20px;
}

.top_banner{
	width: 780px;
	height: 220px;
	margin-bottom: 10px;
}

.top_contents_list{
	width: 160px;
	height: 150px;
	display: inline-block;
	margin-left: 17px;
}

.top_right_border{
	width: 40px;
	height: 150px;
	display: inline-block;
	margin-left: 16px;	
}

#middle {
	width: 780px;
	height: 280px;
	margin-top: 20px;
}

.middle_left{
	width: 160px;
	height: 280px;
	margin-left: 17px;
	float: left;
}

.middle_top{
	width: 580px;
	height: 180px;
	margin-left: 19px;
	float: right;
	margin-top: 20px;
}

.middle_bottom{
	width: 580px;
	height: 60px;
	float: right;
	margin-top: 20px;
}

#bottom {
	width: 780px;
	height: 280px;
	margin-top: 20px;
}

.bottom_small{
	width: 160px;
	height: 280px;
	display: inline-block;
	margin-left: 18px;
}
.bottom_large{
	width: 280px;
	height: 280px;	
	display: inline-block;
	margin-left: 17px;
}

aside {
	width: 200px;
	height: 980px;
	float: right;
}

.aside_little{
	width: 200px;
	height: 80px;
}

.aside_small{
	width: 200px;
	height: 120px;
	margin-top: 14px;
}

.aside_large{
	width: 200px;
	height: 370px;
	margin-top: 13px;
}

footer {
	width: 100%;
	height: 130px;
	margin: auto;
	margin-top: 20px;
}

#banner_content{
	width: 1000px;
	margin: auto;
}

.footer_logo{
	width: 90px;
	height: 100px;
	display: inline-block;
	margin-left: 20px;
}

.footer_banner{
	width: 200px;
	height: 100px;
	display: inline-block;
	margin-left: 18px;
}